<!DOCTYPE html>
<html lang="en">
    <head>
        <!--<script src="https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js"></script>-->
        <script src="{{ url_for('static', filename='jscn/jquery.min.js') }}"></script>
        <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.7/dist/semantic.min.css">
        <script src="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.7/dist/semantic.min.js"></script>
        <meta charset="UTF-8">
        <title>Syngrafias</title>
        <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;700&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{{ url_for('static', filename='css3/asciidoctor.css') }}" />
        <script src="{{ url_for('static', filename='jscn/asciidoctor.js') }}"></script>
        <link rel="stylesheet" href="{{ url_for('static', filename='css3/toastr.css') }}" />
        <script src="{{ url_for('static', filename='jscn/toastr.min.js') }}"></script>
        <script src="{{ url_for('static', filename='jscn/syngrafias.js') }}"></script>
        <style>
            .textbase {font-family: 'IBM Plex Sans', sans-serif !important;}
            .monotext {font-family: 'IBM Plex Mono', monospace !important;}
        </style>
    </head>
    <body onload="askusdat(); timeqant(); randgene(); sessionStorage.clear()">
        <div class="ui tiny attached stackable menu inverted textbase" style="background-color: #294172;">
            <div class="ui simple dropdown item">
                <span style="font-weight: bold;">Syngrafias</span>
                <i class="dropdown icon"></i>
                <div class="menu">
                    <a class="item" onclick="sendcell();"><i class="plus circle icon"></i>Append cell</a>
                    <a class="item" onclick=""><i class="file icon"></i>Open document</a>
                    <a class="item" onclick=""><i class="save icon"></i>Save document</a>
                    <a class="item" onclick=""><i class="bug icon"></i>Report issues</a>
                    <a class="item" onclick=""><i class="wheelchair icon"></i>View support</a>
                    <a class="item" onclick=""><i class="clock icon"></i>Track activities</a>
                    <a class="item" onclick=""><i class="cog icon"></i>Change preferences</a>
                    <a class="item" onclick=""><i class="info circle icon"></i>About the app</a>
                    <a class="item" onclick=""><i class="power off icon"></i>Reset workspace</a>
                </div>
            </div>
            <a class="item" onclick=""><span id="headuser">username</span>@<span id="headroom" style="font-weight: bold;">roomname</span></a>
            <div class="right menu">
                <div class="ui item monotext" id="timehead">00:00:00</div>
            </div>
        </div>
        <br/>
        <script>
            let webesock = new WebSocket("ws://" + document.domain + ":" + {{ sockport }} + "/");
            console.log("WebSocket is supposed to be at ws://" + document.domain + ":{{ sockport }}/");
            webesock.onmessage = function (event)
            {
                console.log(event.data);
                let data = JSON.parse(event.data);
                if (!(data.username === sessionStorage.getItem("username")))
			    {
				    if (data.sessiden === sessionStorage.getItem("sessiden"))
                    {
                        let textmesg = JSON.parse(data.textmesg);
                        if (textmesg["taskcomm"] === "/note")
                        {
                            let celliden = textmesg["celliden"];
                            let contents = textmesg["contents"];
                            document.getElementById("textdata-"+celliden).value = contents;
                            autoconv(celliden);
                        }
                        else if (textmesg["taskcomm"] === "/make")
                        {
                            let celliden = textmesg["celliden"];
                            let cellauth = data.username;
                            recvcell(celliden, cellauth);
                        }
                    }
                }
            }
        </script>
        <div class="ui basic modal" id="givename">
            <div class="ui icon header monotext" style="font-size: 20px;"><i class="exclamation triangle icon" style="margin-bottom: 6.25%;"></i>Create New Session</div>
            <div class="content">
                <p style="text-align: center; font-size: 15px;" class="textbase">Please provide your username and workspace identity if you are joining an existing workspace. If you are not, simply enter your username and click on BUILD to generate yourself a new workspace identity to start.</p>
                <div style="text-align: center;">
                    <div class="ui tiny input"><input class="monotext" type="text" id="username" placeholder="Username"></div>
                    <div class="ui tiny input"><input class="monotext" type="text" id="sessiden" placeholder="Workspace identity"></div>
                </div>
            </div>
            <div class="actions" style="text-align: center;">
                <div class="ui tiny inverted button monotext" onclick="wkeybild();" style="background-color: #0B57A4;"><i class="refresh icon"></i>Build</div>
                <div class="ui tiny inverted button monotext" onclick="makesess();" style="background-color: #0B57A4;"><i class="checkmark icon"></i>Login</div>
            </div>
        </div>
    </body>
</html>