<!DOCTYPE html>
<html lang="en">
    <head>
        <script src="https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js"></script>
        <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.7/dist/semantic.min.css">
        <script src="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.7/dist/semantic.min.js"></script>
        <meta charset="UTF-8">
        <title>Syngrafias</title>
        <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;700&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{{ url_for('static', filename='css3/asciidoctor.css') }}" />
        <script src="{{ url_for('static', filename='jscn/asciidoctor.js') }}"></script>
        <link rel="stylesheet" href="{{ url_for('static', filename='css3/toastr.css') }}" />
        <script src="{{ url_for('static', filename='jscn/toastr.min.js') }}"></script>
        <style>
            .textbase {font-family: 'IBM Plex Sans', sans-serif !important;}
            .monotext {font-family: 'IBM Plex Mono', monospace !important;}
        </style>
    </head>
    <body onload="askusdat(); timeqant(); randgene();">
        <div class="ui attached stackable menu inverted" style="background-color: #294172;">
            <a class="item textbase"><strong>Syngrafias</strong></a>
            <a class="item"><i class="file icon"></i></a>
            <a class="item"><i class="save icon"></i></a>
            <a class="item"><i class="bug icon"></i></a>
            <a class="item"><i class="wheelchair icon"></i></a>
            <a class="item"><i class="clock icon"></i></a>
            <a class="item"><i class="info circle icon"></i></a>
            <a class="item"><i class="plus circle icon"></i></a>
            <div class="right menu">
                <div class="ui item monotext" id="timehead">00:00:00</div>
                <a class="item"><i class="cog icon"></i></a>
                <a class="item"><i class="power off icon"></i></a>
            </div>
        </div>
        <div class="ui card" style="margin-left:0.75%; width: 98.5%; margin-right:0.75%;">
            <div class="content">
                <div class="ui tiny labeled input" style="width: 100%;">
                    <div class="ui label monotext" id="docuiden">00000000</div>
                    <input type="text" class="textbase" placeholder="Enter the document name here">
                </div>
                <br/><br/>
                <div class="description">
                    <div class="ui grid">
                        <div class="eight wide column">
                            <div class="ui tiny form field">
                                <textarea rows="2" id="textdata" class="monotext" onkeyup="autoconv(); dispatch();"></textarea>
                            </div>
                        </div>
                        <div class="eight wide column" style="border-width: 2px; border-radius: 2px;">
                            <div class="ui form textbase" style="border: 1px solid #dedede; border-radius: 5px; height: 100%; padding: 1%;" id="otptdata"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br/>
        <script>
            let webesock = new WebSocket("ws://" + document.domain + ":" + {{ sockport }} + "/");
            console.log("WebSocket is supposed to be at ws://" + document.domain + ":{{ sockport }}/");
            function autoconv() {
                let textdata = document.getElementById("textdata").value;
                let htmldata = Asciidoctor().convert(textdata);
                document.getElementById("otptdata").innerHTML = htmldata;
            }
            function chektime(chekqant)
            {
                if (chekqant < 10)  return "0" + chekqant;
                else                return chekqant;
            }
            function timeqant()
            {
                let curtdate = new Date();
                let hour = curtdate.getHours(); let mint = curtdate.getMinutes(); let secs = curtdate.getSeconds();
                hour = chektime(hour); mint = chektime(mint); secs = chektime(secs);
                document.getElementById("timehead").innerHTML = hour + ":" + mint + ":" + secs;
                let time = setTimeout(timeqant, 500);
            }
            function randgene()
            {
                let randstng = "";
                let lent = 8; let list = "0123456789ABCDEF";
                for (let indx = lent; indx > 0; indx--)
                {
                    randstng += list[Math.floor(Math.random() * list.length)];
                }
                return randstng;
            }
            function dispatch()
            {
                let contents = document.getElementById("textdata").value;
                let writings = "/note" + " " + contents;
                webesock.send(JSON.stringify({username: sessionStorage.getItem("username"), sessiden: sessionStorage.getItem("sessiden"), textmesg: writings}));
            }
            function askusdat()
            {
                $(".ui.basic.modal").modal('setting', 'closable', false).modal("show");
            }
            function makesess() {
                let username = document.getElementById("username").value;
                let sessiden = document.getElementById("sessiden").value;
                if (username !== "" && sessiden !== "")
                {
                    if (!(/\s/.test(username) || /\s/.test(sessiden)))
                    {
                        if (sessiden.match(/^[A-F0-9]{8}$/) && username.match(/^[a-z0-9]+$/i))
                        {
                            sessionStorage.setItem("username", username);
                            sessionStorage.setItem("sessiden", sessiden);
                            $('#givename').modal('hide');
                            document.getElementById("docuiden").innerText = sessiden;
                        }
                        else
                        {
                            toastr.error("<span class='textbase'>Please rectify your input in either username or workspace key fields before continuing.</span>","",{"positionClass": "toast-bottom-right"});
                        }
                    }
                    else
                    {
                        toastr.error("<span class='textbase'>Please rectify your input in either username or workspace key fields before continuing.</span>","",{"positionClass": "toast-bottom-right"});
                    }
                }
            }
            webesock.onmessage = function (event)
            {
                console.log(event.data);
                let data = JSON.parse(event.data);
                if (!(data.username === sessionStorage.getItem("username")))
			    {
				    if (data.sessiden === sessionStorage.getItem("sessiden"))
                    {
                        if (data.textmesg.split(" ")[0] === "/note")
                        {
                            let textmesg = data.textmesg.replace("/note", "").trim();
                            document.getElementById("textdata").value = textmesg;
                            autoconv();
                        }
                    }
                }
            }
        </script>
        <div class="ui basic modal" id="givename">
            <div class="ui icon header monotext"><i class="exclamation triangle icon"></i>Create New Session</div>
            <div class="content">
                <p style="text-align: center;" class="textbase">Please provide your username and workspace identity if you are joining an existing workspace. If you are not, simply enter your username and click on BUILD to generate yourself a new workspace identity to start.</p>
                <div style="text-align: center;">
                    <div class="ui input"><input class="monotext" type="text" id="username" placeholder="Username"></div>
                    <div class="ui input"><input class="monotext" type="text" id="sessiden" placeholder="Workspace identity"></div>
                </div>
            </div>
            <div class="actions" style="text-align: center;">
                <div class="ui inverted button monotext" onclick="document.getElementById('sessiden').value = randgene();" style="background-color: #0B57A4;"><i class="refresh icon"></i>Build</div>
                <div class="ui inverted button monotext" onclick="makesess();" style="background-color: #0B57A4;"><i class="checkmark icon"></i>Login</div>
            </div>
        </div>
    </body>
</html>