<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Syngrafias | Collaborator</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='css3/fontsome.css') }}" />
        <link rel="stylesheet" href="{{ url_for('static', filename='css3/adminlte.css') }}" />
        <link rel="stylesheet" href="{{ url_for('static', filename='css3/jquery-ui.css') }}" />
		<link rel="stylesheet" href="{{ url_for('static', filename='css3/toastr.css') }}" />
		<script src="{{ url_for('static', filename='jscn/jquery.min.js') }}"></script>
    	<script src="{{ url_for('static', filename='jscn/bootstrap.bundle.js') }}"></script>
    	<script src="{{ url_for('static', filename='jscn/adminlte.js') }}"></script>
		<script src="{{ url_for('static', filename='jscn/jquery-ui.js') }}"></script>
		<script src="{{ url_for('static', filename='jscn/toastr.min.js') }}"></script>
		<link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.css" rel="stylesheet" />
		<script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.js"></script>
		<style>
		  	#s0rtable { list-style-type: none; margin: 0; padding: 0; width: 60%; }
	 	 	#s0rtable li { margin: 0 3px 3px 3px; padding: 0.4em; padding-left: 1.5em; font-size: 1.4em; height: 18px; }
		  	#s0rtable li span { position: absolute; margin-left: -1.3em; }
		</style>
		<style>
            .normelem{
                font-family: "Inter", sans-serif;
                font-weight: 400;
            }
            .headelem {
                font-family: "Inter", sans-serif;
                font-weight: 700;
            }
			body {
                -webkit-touch-callout: none;
                -webkit-user-select: none;
                -khtml-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;
            }
		</style>
	</head>
	<body class="sidebar-mini text-sm layout-navbar-fixed layout-footer-fixed" onload="$('#givename').modal('show'); document.getElementById('username').value = ''; document.getElementById('roomiden').value = ''; StartRunningTime();">
		<div class="wrapper">
			<nav class="main-header navbar navbar-expand navbar-lightblue navbar-dark">
				<ul class="navbar-nav">
					<li class="nav-item">
						<a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
					</li>
					<li class="nav-item d-none d-sm-inline-block"><a href="index3.html" class="nav-link normelem">Home</a></li>
					<li class="nav-item d-none d-sm-inline-block"><a class="nav-link normelem"><i class="fas fa-clock"></i>&nbsp;<span id="timehead"></span></a></li>
				</ul>

				<form class="form-inline ml-3">
					<div class="input-group input-group-sm">
						<input class="form-control form-control-navbar" type="search" placeholder="Go to cell" aria-label="Search">
					</div>
				</form>

				<ul class="navbar-nav ml-auto">
					<li class="nav-item dropdown">
						<a class="nav-link" href="#">
							<i class="far fa-comments"></i>
						</a>
					</li>
					<li class="nav-item dropdown">
						<a class="nav-link" href="#">
							<i class="far fa-bell"></i>
						</a>
					</li>
					<li class="nav-item">
						<!--<a class="nav-link" href="#">-->
                        <a class="nav-link" data-widget="control-sidebar" data-slide="true" href="#" role="button">
							<i class="fas fa-th-large"></i>
						</a>
					</li>
				</ul>
			</nav>

			<aside class="main-sidebar sidebar-dark-lightblue elevation-4">
				<a href="#" class="brand-link bg-lightblue">
					<!--<img src="{{ url_for("static", filename="imgs/datalogo.svg") }}" alt="Syngrafias Logo" class="fas fa-tachometer brand-image img-circle elevation-3">-->
					<i alt="Syngrafias Logo" class="fas fa-tachometer"></i>
					<span class="brand-text headelem">Syngrafias</span>
				</a>

				<div class="sidebar">
					<nav class="mt-2">
						<ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
							<li class="nav-item">
								<a href="#" class="nav-link normelem"><i class="fas fa-user nav-icon"></i><p id="userhead">Syngrafias</p></a>
							</li>
							<li class="nav-item">
								<a href="#" class="nav-link normelem"><i class="fas fa-tag nav-icon"></i><p id="idenhead">DEADCAFE</p></a>
							</li>
						</ul>
                        <hr style="margin-top: 10px; margin-bottom: 10px;" />
						<ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
							<li class="nav-item">
								<a href="#" class="nav-link normelem"><i class="fas fa-tachometer-alt nav-icon"></i><p>Dashboard</p></a>
							</li>
							<li class="nav-item">
								<a href="#" class="nav-link normelem active"><i class="fas fa-plus-circle nav-icon"></i><p>Build</p></a>
							</li>
							<li class="nav-item">
								<a href="#" class="nav-link normelem"><i class="fas fa-cog nav-icon"></i><p>Settings</p></a>
							</li>
							<li class="nav-item">
								<a href="#" class="nav-link normelem"><i class="fas fa-sign-out-alt nav-icon"></i><p>Logout</p></a>
							</li>
						</ul>
                        <hr style="margin-top: 10px; margin-bottom: 10px;" />
						<ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false" id="activity">
						</ul>
					</nav>
				</div>
			</aside>

			<div class="content-wrapper" style="background-color: #ffffff;">
				<div class="content">
					<div class="container-fluid">
						<br/>
						<input class="form-control normelem" type="ttletext" placeholder="Enter the document title here">
						<br/>
						<ul id="sortable" style="list-style-type: none; margin: 0; padding: 0; width: 100%;"></ul>
						<button type="submit" class="btn bg-lightblue" style="margin-bottom: 15px;" onclick="InsertCell()">Add cell</button>
					</div>
				</div>
			</div>

            <aside class="control-sidebar control-sidebar-dark">
                <div class="p-3">
                    <h5>Title</h5>
                    <p>Sidebar content</p>
                </div>
            </aside>

			<footer class="main-footer">
				<div class="float-right d-none d-sm-block">
					Created with <i class="fas fa-heart text-lightblue"></i> by <span class="headelem text-lightblue" onclick="window.location.href = 'https://github.com/t0xic0der/'">t0xic0der</span>
				</div>
				<span class="headelem text-lightblue">Syngrafias v26072020. </span><span onclick="window.location.href = 'https://github.com/t0xic0der/syngrafias/'" class="normelem">Contribute</span> here.
			</footer>
		</div>

        <div class="modal fade" id="givename" style="display: none;" aria-hidden="true" data-backdrop="static" data-keyboard="false">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header bg-lightblue">
                        <h4 class="modal-title headelem">Syngrafias</h4>
                    </div>
                    <div class="modal-body">
						<p class="normelem">
							Syngrafias is a free and open-source synchronized authorship web-application for seamlessly collaborating on documents using intuitive cells.
						</p>
                        <input type="text" id="username" placeholder="Enter your username" class="form-control normelem">
                        <br/>
                        <input type="text" id="roomiden" placeholder="Enter your chatroom key" class="form-control normelem disabled">
                    </div>
                    <div class="modal-footer justify-content-between bg-lightblue">
                        <button type="button" class="btn btn-default" onclick="document.getElementById('roomiden').value = RandomStringGenerator();">Generate</button>
                        <button type="button" class="btn btn-default" onclick="SaveUserName()">Continue</button>
                    </div>
                </div>
            </div>
        </div>

		<div class="modal fade" id="sockfail" style="display: none;" aria-hidden="true" data-backdrop="static" data-keyboard="false">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header bg-lightblue">
                        <h4 class="modal-title headelem">Connection failed</h4>
                    </div>
                    <div class="modal-body">
                        <p class="normelem text-justify" style="margin-bottom: 5px;">Any changes that you made could not be saved and conveyed as the connection to the WebSocket server could not be established. Please refresh the page and try again.</p>
                    </div>
                    <div class="modal-footer justify-content-between bg-lightblue">
                        <button type="button" class="btn btn-default" onclick="location.reload();">Refresh</button>
                    </div>
                </div>
            </div>
        </div>
	
    </body>
  	<script>
		$(function() {
    		$("#sortable").sortable();
    		//$("#sortable").disableSelection();
  		});
	</script>
	<script>
		let webesock = new WebSocket("ws://" + document.domain + ":" + {{ sockport }} + "/");
		console.log("WebSocket is supposed to be at ws://" + document.domain + ":{{ sockport }}/");
		toastr.options.preventDuplicates = true;
		function StartRunningTime()
		{
			let curtdate = new Date();
			let hour = curtdate.getHours(); let mint = curtdate.getMinutes(); let secs = curtdate.getSeconds();
			hour = CheckTiming(hour); mint = CheckTiming(mint); secs = CheckTiming(secs);
			document.getElementById("timehead").innerHTML = hour + ":" + mint + ":" + secs;
			let time = setTimeout(StartRunningTime, 500);
		}
		function RandomStringGenerator()
		{
			let randstng = "";
			let lent = 8; let list = "0123456789abcdef";
			for (let indx = lent; indx > 0; indx--)
			{
				randstng += list[Math.floor(Math.random() * list.length)];
			}
			return randstng;
		}
		function SaveUserName() {
			let username = document.getElementById("username").value;
			let roomiden = document.getElementById("roomiden").value;
			if (username != "" && roomiden != "")
			{
				if (!(/\s/.test(username) || /\s/.test(roomiden)))
				{
					if (roomiden.match(/^[a-f0-9]{8}$/i))
					{
						sessionStorage.setItem("username", username); sessionStorage.setItem("roomiden", roomiden);
						$('#givename').modal('hide');
						document.getElementById("username").value = ""; document.getElementById("roomiden").value = "";
						document.getElementById("userhead").innerText = username; document.getElementById("idenhead").innerText = roomiden;
						sessionStorage.setItem("listcell","");
					}
				}
			}
		}
		function CheckTiming(chekqant)
        {
            if (chekqant < 10)
                return "0"+chekqant;
            else
                return chekqant;
        }
	  	function InsertCell()
		{
			if (webesock.readyState == 3)
			{
				$("#sockfail").modal("show");
			}
			else
			{
			    let curtdate = new Date();
				let celliden = RandomStringGenerator();
				let modifdom = "<li class='' id='" + celliden + "'>" + "<div class='callout callout-info'>" + "<div class='input-group mb-3'>" +
					"<div class='input-group-prepend'>" + "<span class='input-group-text bg-lightblue' id='celliden-" + celliden + "' >" + celliden.toUpperCase() + "</span>" +
					"</div>" + "<input type='text' class='form-control' placeholder='Enter the cell name here'>" +
					"<div class='input-group-append'>" + "<span class='input-group-text bg-danger' onclick='DeleteCell(\"" + celliden + "\")'><i class='fas fa-times'></i></span>" +
					"</div>" + "</div>" + "<div id='conttext-" + celliden + "'></div>" + "</div>" + "</li>";
				$("#sortable").append(modifdom);
				modifdom = "<li class='nav-item'>" +
                    "<a href='#' class='nav-link'>" +
                    "<i class='fas fa-plus nav-icon text-success'></i>" +
                    "<p class='headelem'>" + celliden.toUpperCase() + "&nbsp;<span class='normelem'>[" + CheckTiming(curtdate.getHours()) + ":" + CheckTiming(curtdate.getMinutes()) + ":" + CheckTiming(curtdate.getSeconds()) + "]</span></p>" +
                    "</a>" +
                    "</li>";
				$("#activity").append(modifdom);
				$("#conttext-"+celliden).summernote({
					tabsize: 4,
					height: "100",
					toolbar: [
						["style", ["bold", "italic", "underline", "clear"]],
						["font", ["strikethrough", "superscript", "subscript"]],
						["fontsize", ["fontsize"]],
						["color", ["color"]],
						["para", ["ul", "ol", "paragraph"]],
						["height", ["height"]],
                    ],
					callbacks: {
						onKeydown: function (e) {
							let contents = $("#conttext-"+celliden).summernote("code");
							let writings = "/note " + celliden + " " + contents;
							webesock.send(JSON.stringify({username: sessionStorage.getItem("username"), roomiden: sessionStorage.getItem("roomiden"), textmesg: writings}));
						},
						onKeyup: function (e) {
							let contents = $("#conttext-"+celliden).summernote("code");
							let writings = "/note " + celliden + " " + contents;
							webesock.send(JSON.stringify({username: sessionStorage.getItem("username"), roomiden: sessionStorage.getItem("roomiden"), textmesg: writings}));
						},
						onPaste: function (e) {
							let contents = $("#conttext-"+celliden).summernote("code");
							let writings = "/note " + celliden + " " + contents;
							webesock.send(JSON.stringify({username: sessionStorage.getItem("username"), roomiden: sessionStorage.getItem("roomiden"), textmesg: writings}));
						}
					}
				});
				$("#conttext-"+celliden).summernote("focus");
				let listcell = sessionStorage.getItem("listcell");
				listcell = listcell + celliden + ", ";
				sessionStorage.setItem("listcell", listcell);
				console.log("Inserted a cell : " + listcell);
				webesock.send(JSON.stringify({username: sessionStorage.getItem("username"), roomiden: sessionStorage.getItem("roomiden"), textmesg:"/make " + celliden}));
				toastr.success("A cell named <span class='headelem'>" + celliden.toUpperCase() + "</span> was successfully created from your end and conveyed to all collaborators.");
			}
		}
		function DeleteCell(celliden)
		{
			if (webesock.readyState == 3)
			{
				$("#sockfail").modal("show");
			}
			else
			{
				document.getElementById(celliden).remove();
				let listcell = sessionStorage.getItem("listcell");
				listcell = listcell.replace(celliden + ", ", "");
				sessionStorage.setItem("listcell", listcell);
				console.log("Deleted a cell : " + listcell);
				let curtdate = new Date;
                let modifdom = "<li class='nav-item'>" +
                    "<a href='#' class='nav-link normelem'>" +
                    "<i class='fas fa-times nav-icon text-danger'></i>" +
                    "<p class='headelem'>" + celliden.toUpperCase() + "&nbsp;<span class='normelem'>[" + CheckTiming(curtdate.getHours()) + ":" + CheckTiming(curtdate.getMinutes()) + ":" + CheckTiming(curtdate.getSeconds()) + "]</span></p>" +
                    "</a>" +
                    "</li>";
				$("#activity").append(modifdom);
				webesock.send(JSON.stringify({username: sessionStorage.getItem("username"), roomiden: sessionStorage.getItem("roomiden"), textmesg:"/wipe " + celliden}));
				toastr.error("A cell named <span class='headelem'>" + celliden.toUpperCase() + "</span> was successfully deleted from your end and conveyed to all collaborators.");
			}
		}
		webesock.onmessage = function (event)
		{
			let data = JSON.parse(event.data);
			if (!(data.username == sessionStorage.getItem("username")))
			{
				if (data.roomiden == sessionStorage.getItem("roomiden"))
				{
					if (data.textmesg.split(" ")[0] == "/make")
					{
					    let curtdate = new Date;
						let celliden = data.textmesg.split(" ")[1];
						let modifdom = "<li class='' id='" + celliden + "'>" + "<div class='callout callout-info'>" + "<div class='input-group mb-3'>" +
							"<div class='input-group-prepend'>" + "<span class='input-group-text bg-lightblue' id='celliden-" + celliden + "' >" + celliden.toUpperCase() + "</span>" +
							"</div>" + "<input type='text' class='form-control' placeholder='Enter the cell name here'>" +
							"<div class='input-group-append'>" + "<span class='input-group-text bg-danger' onclick='DeleteCell(\"" + celliden + "\")'><i class='fas fa-times'></i></span>" +
							"</div>" + "</div>" + "<div id='conttext-" + celliden + "'></div>" + "</div>" + "</li>";
						$("#sortable").append(modifdom);
                        modifdom = "<li class='nav-item'>" +
                            "<a href='#' class='nav-link'>" +
                            "<i class='fas fa-plus-circle nav-icon text-success'></i>" +
                            "<p class='headelem'>" + celliden.toUpperCase() + "&nbsp;<span class='normelem'>[" + CheckTiming(curtdate.getHours()) + ":" + CheckTiming(curtdate.getMinutes()) + ":" + CheckTiming(curtdate.getSeconds()) + "]</span></p>" +
                            "</a>" +
                            "</li>";
                        $("#activity").append(modifdom);
						$("#conttext-"+celliden).summernote({
							tabsize: 4,
							height: "100",
							toolbar: [
								["style", ["bold", "italic", "underline", "clear"]],
								["font", ["strikethrough", "superscript", "subscript"]],
								["fontsize", ["fontsize"]],
								["color", ["color"]],
								["para", ["ul", "ol", "paragraph"]],
								["height", ["height"]]
							],
                            callbacks: {
                                onKeydown: function (e) {
                                	let contents = $("#conttext-"+celliden).summernote("code");
                                    let writings = "/note " + celliden + " " + contents;
                                    webesock.send(JSON.stringify({username: sessionStorage.getItem("username"), roomiden: sessionStorage.getItem("roomiden"), textmesg: writings}));
                                },
                                onKeyup: function (e) {
                                	let contents = $("#conttext-"+celliden).summernote("code");
                                    let writings = "/note " + celliden + " " + contents;
                                    webesock.send(JSON.stringify({username: sessionStorage.getItem("username"), roomiden: sessionStorage.getItem("roomiden"), textmesg: writings}));
                                },
                                onPaste: function (e) {
                                	let contents = $("#conttext-"+celliden).summernote("code");
                                    let writings = "/note " + celliden + " " + contents;
                                    webesock.send(JSON.stringify({username: sessionStorage.getItem("username"), roomiden: sessionStorage.getItem("roomiden"), textmesg: writings}));
                                }
                            }
						});
						let listcell = sessionStorage.getItem("listcell");
						listcell = listcell + celliden + ", ";
						sessionStorage.setItem("listcell", listcell);
						console.log("Received a cell creation call : " + listcell);
						toastr.success("The creation of a cell named <span class='headelem'>" + celliden.toUpperCase() + "</span> was conveyed to all collaborators by <span class='headelem'>" + data.username + "</span>.");
					}
					else if (data.textmesg.split(" ")[0] == "/wipe")
					{
						let celliden = data.textmesg.split(" ")[1];
						document.getElementById(celliden).remove();
						let listcell = sessionStorage.getItem("listcell");
						listcell = listcell.replace(celliden + ", ", "");
						sessionStorage.setItem("listcell", listcell);
						console.log("Received a cell deletion call : " + listcell);
                        let curtdate = new Date;
                        let modifdom = "<li class='nav-item'>" +
                            "<a href='#' class='nav-link normelem'>" +
                            "<i class='fas fa-times-circle nav-icon text-danger'></i>" +
                            "<p class='headelem'>" + celliden.toUpperCase() + "&nbsp;<span class='normelem'>[" + CheckTiming(curtdate.getHours()) + ":" + CheckTiming(curtdate.getMinutes()) + ":" + CheckTiming(curtdate.getSeconds()) + "]</span></p>" +
                            "</a>" +
                            "</li>";
                        $("#activity").append(modifdom);
						toastr.error("The deletion of a cell named <span class='headelem'>" + celliden.toUpperCase() + "</span> was conveyed to all collaborators by <span class='headelem'>" + data.username + "</span>.");
					}
					else if (data.textmesg.split(" ")[0] == "/note")
                    {
                        let celliden = data.textmesg.split(" ")[1];
                        let textmesg = data.textmesg.replace(celliden, "");
                        textmesg = textmesg.replace("/note", "");
                        textmesg = textmesg.trim();
                        //console.log(textmesg);
                        $("#conttext-"+celliden).summernote("code", textmesg);
                    }
				}
			}
		}
	</script>
</html>
