

<!DOCTYPE html>
<html lang="en">
    <head>
        <script src="https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js"></script>
        <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.7/dist/semantic.min.css">
        <script src="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.7/dist/semantic.min.js"></script>
        <meta charset="UTF-8">
        <title>Syngrafias</title>
        <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;700&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{{ url_for('static', filename='css3/asciidoctor.css') }}" />
        <script src="{{ url_for('static', filename='jscn/asciidoctor.js') }}"></script>
        <link rel="stylesheet" href="{{ url_for('static', filename='css3/toastr.css') }}" />
        <script src="{{ url_for('static', filename='jscn/toastr.min.js') }}"></script>
        <style>
            * {
                padding: 0;
                margin: 0;
                box-sizing: border-box;
                /* overflow: hidden; */
            }
            .textbase {
                font-family: 'IBM Plex Sans',sans-serif !important;
            }
            .monotext {
                font-family: 'IBM Plex Mono', monospace !important;
            }
        </style>
    </head>
    <body onload="askusdat(); timeqant(); randgene();" style="display: flex; flex-direction: column;">
        <div class="ui tiny attached stackable menu inverted textbase cardinal" style="background-color: #294172;">
            <div class="ui simple dropdown item">
                <span style="font-weight: bold;">Syngrafias</span>
                <i class="dropdown icon"></i>
                <div class="menu">
                    <a class="item" onclick="sendpush();"><i class="plus circle icon"></i>Append cell</a>
                    <a class="item" onclick=""><i class="file icon"></i>Open document</a>
                    <a class="item" onclick=""><i class="save icon"></i>Save document</a>
                    <a class="item" href="/"><i class="align justify icon"></i>Cellular document</a>
                    <a class="item" onclick=""><i class="bug icon"></i>Report issues</a>
                    <a class="item" onclick=""><i class="wheelchair icon"></i>View support</a>
                    <a class="item" onclick="viewlogs();"><i class="clock icon"></i>Track activities</a>
                    <a class="item" onclick="$('#colrmode').modal('show');"><i class="cog icon"></i>Change preferences</a>
                    <a class="item" onclick=""><i class="info circle icon"></i>About the app</a>
                    <a class="item" onclick="$('#restwarn').modal('show');"><i class="power off icon"></i>Reset workspace</a>
                </div>
            </div>
            <div class="item" onclick=""><span id="headuser">username</span>@<span id="headroom" style="font-weight: bold;">roomname</span>
                &nbsp; <i title="copy Id" onclick="copyID()" style="cursor: pointer;" class="copy outline icon"></i>
            </div>
            <div class="right menu">
                <div class="ui item monotext" id="timehead">00:00:00</div>
            </div>
        </div>
        <div class="" style="flex-grow: 1; overflow: hidden;">
            <div class="content" style="display:flex; flex-direction: column; height: 100%; padding: .5rem;">
                <div class="ui tiny labeled input" style="margin-bottom: .2rem;">
                    <input type="text" class="textbase" id="docsname" onkeyup="ttlechng();" placeholder="Enter the document name here">
                </div>
                <!-- <div class="description" style="border: 1px solid red"> -->
                <div class="" style="display: flex; flex-grow: 1; overflow: hidden;">
                    <div class="" style="width: 49.75%; margin-right: 0.25%;">
                        <div class="ui tiny form field" style="height: 100%;">
                            <textarea style="resize: none; height: 100%; max-height: 100%; overflow-y: scroll;"  rows="2" id="textdata" class="monotext" onkeyup="autoconv(); sendnote();"></textarea>
                        </div>
                    </div>
                    <div class="" style="width: 49.75%; margin-left: 0.25%; border: 1px solid rgba(34,36,38,.15); border-radius: .28571429rem; padding: .78571429em 0 0 1em;">
                        <div class="ui form textbase" id="otptdata" style="height: 100%; max-height: 100%; overflow-y: scroll;"></div>
                    </div>
                </div>
                <!-- </div> -->
            </div>
        </div>
        <script src="{{ url_for('static', filename='jscn/unityMode.js') }}"></script>

        <script>
            let webesock = new WebSocket("ws://" + document.domain + ":" + {{ sockport }} + "/");
            console.log("WebSocket is supposed to be at ws://" + document.domain + ":{{ sockport }}/");
            webesock.onmessage = function (event)
            {
                let data = JSON.parse(event.data);
                if (!(data.username === sessionStorage.getItem("username"))) {
				    if (data.sessiden === sessionStorage.getItem("sessiden")) {
                        let textmesg = JSON.parse(data.textmesg);
                        if (textmesg["taskcomm"] === "/note") {
                            recvnote(textmesg["contents"], data.username);
                        }
                    }
                }
            }
        </script>
        <form onsubmit="return makesess();" class="ui basic modal" id="givename">
            <div class="ui icon header monotext" style="font-size: 20px;"><i class="exclamation triangle icon" style="margin-bottom: 6.25%;"></i>Create New Session</div>
            <div class="content">
                <p style="text-align: center; font-size: 15px;" class="textbase">Please provide your username and workspace identity if you are joining an existing workspace. If you are not, simply enter your username and click on BUILD to generate yourself a new workspace identity to start.</p>
                <div style="text-align: center;">
                    <div class="ui tiny input"><input class="monotext" type="text" id="username" placeholder="Username"></div>
                    <div class="ui tiny input"><input class="monotext" type="text" id="sessiden" placeholder="Workspace identity"></div>
                </div>
            </div>
            <div class="actions" style="text-align: center;">
                <div class="ui tiny inverted button monotext cardinal" onclick="wkeybuild();" style="background-color: #294172;"><i class="refresh icon"></i>Build</div>
                <button type="submit" class="ui tiny inverted button monotext cardinal" style="background-color: #294172;"><i class="checkmark icon"></i>Login</button>
            </div>
        </form>
    </body>
</html>